// Strands
.theme {
    border: 1px solid gray;

    .card-header {
        font-size: x-small !important;
        padding: 0px !important;
        background: greenyellow;

        p {
            margin: 3px !important;
            font-weight: 600;
        }
    }
    .card-body {
        padding: 5px !important;
        font-size:larger !important;
        font-weight: 700 !important;
    }
}

// Letter
.letter {
    &.selected {
        // TODO - add bounce effect
        background: greenyellow;
        animation: zoom 0.2s ease
    }
    &.in-spangram {
        background-color: gold !important;
    }

    width: 35px;
    height: 35px;
    border-radius: 100%;
    align-content: center;
    margin: 0px 5px 0px 5px;
}

// Line
.line {
    position: absolute;
    stroke: greenyellow;
    &.in-spangram {
        stroke: gold !important;
    }
    width: 270px;
    height: 344px;
    margin-left: -135px;
}

// Toast
.custom-toast {
    margin: auto !important;
    color: white !important;
    font-weight: 600 !important;
    background: black !important;
    width: fit-content !important;
    text-align: center !important;
}

// Animation
@keyframes zoom {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}